// ==========================================================================
// ZONE
// ==========================================================================

.o-zone {
  @include clearfix();

  // background-color: $_color-white;

  &__head {
    text-align: center;
    @include bp(medium) {
      font-size: 1em;

      padding-top: _em(20px);
      padding-bottom: _em(20px);
    }

    position: relative;

    padding-top: _em(20px);
    padding-bottom: _em(20px);

    .o-zone &__title {
      @include bp(medium) {
        font-size: _em(40px);

        padding-left: 0;
      }

      font-family: $_base-font-family-headings;
      font-size: _em(34px);
      font-weight: 800;

      margin-top: .5em;
      padding: 0 0 0 .25em;

      text-transform: uppercase;

      color: inherit;

      a {
        color: inherit;
      }
      span {
        color: $_color-brand;
      }
    }
  }

  .o-zone__subhead {
    @include bp(small) {
      font-size: _em(25px);

      padding-top: .5em;
      padding-bottom: 1em;
    }

    font-size: .85em;
    text-transform: uppercase;

    padding-top: 1em;
    span {
      font-weight: bold;
    }
  }

  &-darkened {
    background-color: $_color-black;
    color: $_color-white;
    }
}
