// ==========================================================================
// BUTTONS
// ==========================================================================

.c-btn {
  @include bp(small) {
    padding-top: .25em;
    padding-right: .35em;
    padding-bottom: .25em;
    padding-left: .35em;
  }

  font-size: 1em;
  font-weight: 700;
  line-height: 1.5;

  display: inline-flex;

  margin: 0;
  padding-top: .5em;
  padding-right: .5em;
  padding-bottom: .5em;
  padding-left: .5em;

  cursor: pointer;
  user-select: none;
  transition: $_transition-default;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;

  color: $_color-white;
  border: 0;
  border-radius: 0;
  background-color: $_color-brand;
  box-shadow: 0;

  touch-action: manipulation;

  &:hover,
  &:focus {
    color: $_color-white;
    background-color: darken($_color-brand, 6%);
  }

  &:focus {
    background-color: darken($_color-brand, 10%);
  }

  [class*='icon'] {
    margin-right: .25em;
  }

  & + & {
    margin-left: .5em;
  }
}

[class*='c-btn'] {
  @extend .c-btn;
}


.c-btn--transparent {
  transition: $_transition-default;

  color: $_color-brand;
  background-color: transparent;

  * {
    transition: $_transition-default;

    color: $_color-brand;
  }

  i {
    font-size: 1.5em;
  }

  &:hover,
  &:focus {
    color: $_color-white;
    background-color: transparent;

    * {
      color: $_color-white;
    }
  }
}

.c-btn--secondary {
  color: $_color-grey-dark;
  background-color: $_color-grey;
}

.c-btn--secondary--ghost {
  color: $_color-grey;
  border: 1px solid $_color-grey;
  background-color: transparent;
}

.c-btn--ghost {
  color: inherit;
  background-color: transparent;
}

.c-btn--huge {
  @include bp(small) {
    font-size: 1.55em;

    width: auto;
  }

  font-family: $_base-font-family-headings;
  font-size: 1.35em;
}

.c-btn--primary--ghost {
  color: $_color-brand;
  border: 3px solid $_color-brand;
  background-color: transparent;

  &:hover,
  &:focus {
    border-color: darken($_color-brand, 6%);
  }
}

.c-btn--disabled {
  cursor: not-allowed;

  background-color: $_color-grey;

  &:hover {
    background-color: $_color-grey;
  }
}



