// Settings
// ==========================================================================
@import 'styles/variables';

// Libs
// ==========================================================================
@import '../node_modules/bootstrap/scss/mixins/grid';

// Functions
// ==========================================================================
@import 'styles/function/em';
@import 'styles/function/rem';
@import 'styles/function/strip-unit';

// Utilities
// ==========================================================================
@import 'styles/tool/clearfix';
@import 'styles/tool/media-queries';
@import 'styles/tool/font-face';
@import 'styles/tool/hidden.scss';

// Objects
// ==========================================================================
@import 'styles/object/grid';
@import 'styles/object/columns';
@import 'styles/object/zone';
@import 'styles/object/head';

// Base
// ==========================================================================
@import 'styles/base/normalize';
@import 'styles/base/forms';
@import 'styles/base/box-sizing';
@import 'styles/base/lazyloading';
@import 'styles/base/responsiveness';
@import 'styles/base/typography';

// Typography
// ==========================================================================
@import 'styles/typography/fonts';

// Components
// ==========================================================================
@import 'styles/component/cells';
@import 'styles/component/login';
@import 'styles/component/button';

// Override
span[aria-live] {
  display: none;
}

.error-text {
  color: $_color-red;
}
// Button
.c-btn {
  margin-top: 25px;
}
// Form
.c-forms {
  .o-col--half--medium {
    margin-top: 20px;
    padding-left: 0;
  }
}
